.titulo{
    color: aqua;
    text-decoration: underline;
}

.titulo1{
    text-decoration: underline;
    color :red;
}

article{
    border: solid;
}

.subtitulo{
    text-decoration: underline;
}

.lista{
    border: solid;
    width: 160px;
    font-size: 30px;
    
}

.l1{
    color: red;
}

.l2{
    color: blueviolet;
    list-style-type: square;
}